.container-upload {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20%;
 }
 
 input::placeholder {
     color: #161616;
     opacity: 1;
     margin: 0 0 4px;
     padding: 15px;
     border-color: #d2d5d9;
 }

 input:placeholder-shown {
    border: 1px solid lightslategray;
    border-color: #E2E2E2;
    border-radius: 3px;
    padding: 6px 2px;
  }

  .dropdown {

  }

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;

}

.btn-hover {
    width: 150px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    margin-left: 25%;
    border-radius: 5px;
}

.hearts-spinner {
    margin-left: 30%;
}